.wrapper {
  margin: 0 auto;
  padding: 0 20px;
  max-width: 1200px;
}

h1 {
  padding-bottom: 10px;
  font-size: 40px;
}

p {
  font-size: 16px;
  line-height: 26px;
}

header, footer {
  color: #AAA;
  user-select: none;
}

.container {
  display: flex;
  width: 100%;
  height: auto;
  font-size: 12px;
  border: solid 1px;
  text-align: center;
}
.column {
  width: 100%;
}
.row {
  height: 50px;
  border: solid 1px;
}