extends _layout

block contents
  .wrapper
    include _header

    .container
      - for(var c = 1; c <= 5; c++)
        .column
          - for(var r = 1; r <= 6; r++)
            .row: a(class=`grid-${c}-${r}`, href="")

    include _footer