extends _layout

block contents
  .wrapper
    include _header

    h1 success!!
    p You can use Pug, SCSS and TypeScript.
    p: a(href="https://github.com/Michin0suke/gulp-pug-sass-typescript") Learn more

    include _footer