- var image_path = 'assets/'
- var css_path = 'dist/css/index.css'
- var js_path = 'dist/js/index.js'
- var domain = 'https://michin0suke.github.io/'
-
  var meta = {
    title: '',
    app_title: '',
    apple_touch_icon: './assets/img/apple-touch-icon.png',
    icon: {
      url: './assets/img/icon-192x192.png',
      type: 'png'
    },
    description: 'description',
    keywords: 'keywords',
    url: 'https://example.com/',
    og_image: 'og_image'
  }